<style>

body{
	background-color= "#d2cdcc";
}
/********** Base styles **********/
* {
	box-sizing: border-box;	
}

h1 {
  margin-bottom: 15px;
}

p {
  margin-bottom: 15px;
  padding: 10px;
  float: left;
}

div#container1{
position: relative;
}

#p1 {
  background-color: #A52A2A;
  width: 400px;
  height: 300px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  padding: 10px;
}

#section1{
	background-color: #f5be35;
	text-align: center;
	width: 80px;
	height: 20px;
	position: absolute;
	top:10px;
	left:330px;
}

/*div#p1{
	position: relative;
}*/

div#container2{
	position: relative;
}
#p2 {
  background-color: #DEB887;
  width: 400px;
  height: 300px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  padding: 10px;
}
#section2{
	background-color: purple;
	text-align: center;
	width: 50px;
	height: 20px;
	position: absolute;
	top:10px;
	left:780px;
}

div#container3{
position: relative;
}

#p3 {
  background-color: green;
  width: 400px;
  height: 300px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  padding: 10px;
}

#section3{
	background-color: orange;
	text-align: center;
	width: 50px;
	height: 20px;
	position: absolute;
	top:10px;
	left:1200px;
}

/********** Large devices only **********/

@media(min-width: 992px)
{

}
/********** Medium devices only **********/
@media(min-width: 768px) and (max-width: 991px)
{
	#p1{
		width: 47%;
		padding: 7px;

	}
	#p2{
		width: 47%;
		padding: 7px;
	}

	#p3{
		width: 725px;
		height:160px;
	}

	@media(max-width: 767px)
{
	#p1{
		width: 47%;
		padding: 7px;
	}
	#p2{
		width: 47%;
		padding: 7px;
	}

	#p3{
		width: 725px;
		height:160px;
	}
}
}
</style>
