body{
	background-color: #e0b223;
}
/********** Base styles **********/
* {
	box-sizing: border-box;	
}

h1 {
  margin-bottom: 15px;
  text-align: center;
}

.container1 {
  width: 100%;
}

.menu {
  border: 1px solid black;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 15px;
  font-family: Helvetica;
  background-color: #0cc6f8;
}

.title {
  font-weight: bold;
  padding:2px 20px 2px 20px;
  float:right;
  clear: left;
  font-size:1.25em;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
}

.title1 {
  background-color:#d74677;
}

.title2 {
  background-color:#46d751;
}

.title3 {
  background-color:#d6de27;
}

.Data {
  padding: 0 5px 0 5px;
}

/********** Large devices only **********/
@media (min-width: 992px) {
  .col-lg-4 {
    width: 33.33%;
    float: left;
  }
  .mar-lg {
    width: 96%;
  }
}
/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6, .col-md-12 {
    float: left;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-12 {
    width: 100%;
  }
  .mar-md {
    width: 96%;
  }
  .mar-md-full {
    width: 98%;
  }
}

/********** Small devices only **********/
@media (max-width: 767px) {
  .col-sm-12 {
    width: 100%;
    float: left;
  }
  .mar-sm {
    width: 96%;
  }
}
}
